@model Andrade.Chamados.Web.ViewModels.Usuario.ListaUsuarioViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage01.cshtml";
}

<div class="jumbotron">
    <center>
        <div class="container">
            <h1> Tela de usuários</h1>
            <p> Visualize todo os usuários cadastrados no sistema</p>
        </div>
    </center>
</div>


@if (TempData["Erro"] != null)
{
    <div class="alert alert-danger">
        @TempData["Erro"]
    </div>
}
@if (Model != null)
{

    @TempData["Erro"]

    <table class="table">
        <thead>
            <tr>
                <th scope="col"> Nome </th>
                <th scope="col"> E-mail </th>
                <th scope="col"> Telefone </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in Model.ListaUsuarios)
            {
                <tr>
                    <td> @Html.DisplayFor(x => usuario.Nome)</td>
                    <td> @Html.DisplayFor(x => usuario.Email)</td>
                    <td> @Html.DisplayFor(x => usuario.Telefone)</td>
                    <td><a href="/Usuario/Editar/@usuario.Id"> Editar </a></td>
                    <td><a href="/Usuario/Deletar/@usuario.Id"> Deletar </a></td>
                </tr>
            }
        </tbody>
    </table>

}



