@model Andrade.Chamados.Web.Models.CadastrarUsuarioViewModel

@{
    ViewBag.Title = "Cadastrar usuário";
    Layout = "~/Views/Shared/_LayoutPage01.cshtml";
}

@section styles{
    <link href="https://getbootstrap.com/docs/4.1/examples/sign-in/signin.css" rel="stylesheet" />
}

@using (Html.BeginForm("CadastrarUsuario", "Conta", FormMethod.Post, new { @class = "Form-sign" }))
{

    <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Criar Conta</h1>

    @Html.LabelFor(x => x.Nome, new { @class = "sr-only" });
    @Html.TextBoxFor(x => x.Nome, new { @class = "form-control", placeHolder = "Informe seu Nome", required = "true" });

    @Html.LabelFor(x => x.Email, new { @class = "sr-only" });
    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeHolder = "Informe o Email", required = "true" });

    @Html.LabelFor(x => x.Telefone, new { @class = "sr-only" });
    @Html.TextBoxFor(x => x.Telefone, new { @class = "form-control", placeHolder = "Informe o Telefone", required = "true" });

    @Html.LabelFor(x => x.Senha, new { @class = "sr-only" });
    @Html.TextBoxFor(x => x.Senha, new { @class = "form-control", placeHolder = "Informe a senha", required = "true" });

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
}

<form class="form-signin">

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="senai@senai.com" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>

    <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
</form>



